body {
  background-color: #02a53c;
}

.field {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 1280px;
  height: 720px;
  background-color: #02a53c;
}

.range1,
.range2,
.range3,
.range4,
.range5 {
  position: absolute;
  width: 150px;
  height: 100%;
  background-color: #00923f;
}

.range2 {
  left: 300px;
}

.range3 {
  right: 565px;
}

.range4 {
  right: 300px;
}

.range5 {
  right: 0px;
}

.marking1 {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 20px;
  background-color: #d6fff0;
}

.circle1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 300px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 50%;
}

.circle2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 260px;
  width: 260px;
  background-color: #00923f;
  border-radius: 50%;
}

/* .right-circle-fill {
  background-color: black;
  position: absolute;
  right: 0;
  margin: auto;
  height: 20%;
  width: 20%;
} */

.left-rectangle1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 300px;
  width: 200px;
  background-color: #ffffff;
}

.left-rectangle2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 260px;
  width: 180px;
  background-color: #00923f;
}

.left-fill {
  position: absolute;
  right: 0;
  margin: auto;
  height: 16.2rem;
  width: 1.9rem;
  background-color: #02a53c;
}

.right-rectangle1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 300px;
  width: 200px;
  background-color: #ffffff;
}

.right-rectangle2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 260px;
  width: 180px;
  background-color: #00923f;
}

.right-fill {
  position: absolute;
  left: 0;
  margin: auto;
  height: 16.2rem;
  width: 1.9rem;
  background-color: #02a53c;
}

.ball {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 50%;
}

.player1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;
  margin: auto;
  height: 150px;
  width: 20px;
  background-color: #ffffff;
}

.player2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  margin: auto;
  height: 150px;
  width: 20px;
  background-color: #ffffff;
}
